/*  1. Basic  ------------------------------------------------------- */

html,
body {
  overflow-x: hidden;
}

body {
  background-color: #313131;
  font-family: 'opensans-regular', sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: #838c95;
  overflow-x: hidden;
}

/*  2. Typography
       Vertical rhythm with leading derived from 6
--------------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #313131;
  font-family: 'opensans-bold', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 38px;
  line-height: 42px;
  margin-bottom: 12px;
  letter-spacing: -1px;
}
h2 {
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 6px;
}
h3 {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 12px;
}
h4 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 6px;
}
h5 {
  font-size: 18px;
  line-height: 30px;
}
h6 {
  font-size: 14px;
  line-height: 30px;
}
/*  3. Links  ------------------------------------------------------- */

a,
a:visited {
  text-decoration: none;
  outline: 0;
  color: #11abb0;

  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
a:hover,
a:focus {
  color: #313131;
}
p a,
p a:visited {
  line-height: inherit;
}

/*  5. Images  --------------------------------------------------------- */

img {
  max-width: 100%;
  height: auto;
}
/*  6. Buttons  --------------------------------------------------------- */

.button,
.button:visited,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  /* font: 16px/30px 'opensans-bold', sans-serif; */
  background: #fff;
  display: inline-block;
  text-decoration: none;
  /* letter-spacing: 0; */
  color: grey;
  padding: 12px 20px;
  margin-bottom: 18px;
  border: 1px solid #fff;
  cursor: pointer;
  height: auto;
  opacity: 0.8;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

.button:hover,
button:hover,
input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover {
  /* background: #3d4145; */
  color: #fff;
  background: black;
}

.button:active,
button:active,
input[type='submit']:active,
input[type='reset']:active,
input[type='button']:active {
  background: #3d4145;
  color: #fff;
}

.button.full-width,
button.full-width,
input[type='submit'].full-width,
input[type='reset'].full-width,
input[type='button'].full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
}
