/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body,
html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url('/assets/img/bg1.jpg');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

button {
  transition: all 0.5s ease;
  color: #fff;
  border: 3px solid white;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 100px;
  background-color: transparent;
  outline: none;
  border-radius: 4px;
  margin-left: 50%;
  margin: 0 auto;
  margin-top: 80%;
  background-color: #364f6b;
  opacity: 0.5;
}
button:hover {
  color: #364f6b;
  background-color: #fff;
}
